= provide(:title, @user.name + ' | ' + @ppost.title)
%h3 Project details page
.row
  %aside.span4
    %section  
      %h1
        = @user.name
    %section
      = render 'shared/user_link'
    %section
      %p= link_to "View all users", users_path      
  .span8 
    %span.span5
      %h1        
        Title: #{@ppost.title}
    %span.span2
      =render 'posts/like_form' if user_signed_in?
    %p
      summary: #{@ppost.summary}
    .span8
      =render 'shared/post_stats'
    .span8
      =render 'shared/likers_list'
