= form_for(projectdraft, :url => user_update_projectdraft_path(@user, projectdraft), :html => { :method => "put" }) do |f|
  = render partial: 'shared/error_messages', locals: {object: f.object}
  .field
    %h2.span8 Edit Project
    %p.span8
      .span1
        = f.label :title, "Title"
      .span6  
        = f.text_field :title, placeholder: "Project title..."
    %p.span8
      .span1
        = f.label :summary, "Summary"
      .span6          
        = f.text_area :summary, placeholder: "Project summary...", rows: 3
    %p.span8
      .span1
        = f.label :reference, "Links & references"
      .span6   
        = f.text_area :reference, :id =>'reference_textarea', placeholder: "Project references and links..."                     
    %p.span8
      .span1
        = f.label :tag_list, "Tags"
      .span6       
        = f.text_field :tag_list, placeholder: "Comma separated tags..."      
    %p.span8   
      = f.text_area :content, :id =>'content_textarea', placeholder: "Project content..."
    %p.span8  
      = f.submit "Save draft project", class: "btn btn-large btn-primary"
