%p.row.span8
  %h2.span4 New Project  
%p.row.span8
  .span1
    Project image
  .span1
    #projectdraftimages
      -if @projectdraftimage
        %p= image_tag(@projectdraftimage.image_url(:thumb).to_s, alt: "", class: "img-polaroid")
      -else  
        %p= image_tag 'add_image.png'
  .span5    
    = form_for Projectdraftimage.new do |f|
      = f.label :image, "Upload projectdraftimage:"
      = f.file_field :image, multiple: false, name: "projectdraftimage[image]"   
= form_for(projectdraft, :url => user_projectdrafts_url(@user)) do |f|
  = render partial: 'shared/error_messages', locals: {object: f.object}
  .field
    = f.hidden_field :image_id                                                
    %p.row.span8.spacer30  
    %p.row.span8
      .span1
        = f.label :title, "Title"
      .span6  
        = f.text_field :title
    %p.row.span8.spacer30         
    %p.row.span8
      .span1
        = f.label :summary, "Summary"
      .span6          
        = f.text_area :summary, rows: 3
    %p.row.span8.spacer30         
    %p.row.span8
      .span1
        = f.label :tag_list, "Tags"
      .span6       
        = f.text_field :tag_list, data: {autocomplete_source: tags_names_url}  
    %p.row.span8
      %em
        %small.muted.offset1 (tags must be comma separated)        
    %p.row.span8
      .span1
        = f.label :reference, "Links & references"
      .span6   
        = f.text_area :reference, :id =>'reference_textarea', placeholder: "Project references and links..."                     
    %p.row.span8.spacer30        
    %p.row.span8
      Project description         
    %p.row.span8   
      = f.text_area :content, :id =>'content_textarea', placeholder: "Project content..."
    %p.row.span8  
      = f.submit "Save draft project", class: "btn btn-large btn-primary"
