- if user_signed_in?
  .row
    %aside.span4
      %section
        = render 'shared/user_info'
      %section
        = render 'shared/stats'
      %section
        = render 'shared/project_form'
  .span8
    %h3 Project Feed
    = render 'shared/project_feed'
- else
  .center.hero-unit
    %h1 Welcome to TopicHog Beta
    %h2
      Organise resources for topics you're interested in and showcase your project work 
    = link_to "Sign up now!", new_user_registration_path, |
      class: "btn btn-large btn-primary"   |
