- if user_signed_in?
  .row
    %aside.span4
      %section
        = render 'shared/user_info'
      %section
        = render 'shared/stats'
    .span8
      - if @feed_items.any?
        %h3.well.well-small Feed
        = render partial: 'shared/feed'
      - if @liked_posts.any?
        %h3.well.well-small Favorited items (#{@liked_posts.count})
        = render partial: 'shared/liked_feed'        
      - if @project_feed_items.any?
        %h3.well.well-small Project Feed
        = render partial: 'shared/project_feed'
      - if @topic_feed_items.any?
        %h3.well.well-small Topic Feed
        = render partial: 'shared/topic_feed'
      %h3.well.well-small 
        =link_to 'Explore topics and projects', posts_path
      #popular_tags.span8 
        -tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
          = link_to tag.name, post_path(tag.name), :class => 'label', method: :GET      
      .spacer200      
- else
  .row.center.hero-unit
    %h1 TopicHog Beta
    %h2
      Your knowledge and project portfolio 
    = link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary"
    |
    \#{link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter)} 
    |
    \#{link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)}  
    |
    \#{link_to "Sign in with Linkedin", user_omniauth_authorize_path(:linkedin)}    
  .row
    .span4
      %h2.center Create your profile 
    .span4
      %h2.center
        Showcase your 
        %br knowledge and work     
    .span4
      %h2.center 
        Share your 
        %br profile and content      
  .row.home-img 
    .span4
      =image_tag("profile.png")  
      %p
        Describe who you are and what you are about,
        include links to you twitter, facebook, linkedin, blog and website.
      %p 
      Checkout an existing
      = link_to "profile", user_path(1)
    .span4
      =image_tag("projects&topics.png") 
      %p  
        Build your knowledge portfolio by documenting
        %strong Topics
        and
        %strong Projects.
      %p
        = link_to "Explore", posts_path   
        projects and topics created by others        
    .span4
      =image_tag("topichog-to-facebook-twitter-linkedin.png")
      %p  
        Add a link to your profile on linkedin or on your CV. 
      %p  
        Share your 
        %strong topics
        and
        %strong projects 
        on twitter, facebook or linkedin.              
