- if user_signed_in?
  .row
    %aside.span4
      %section
        = render 'shared/user_info'
      %section
        = render 'shared/stats'
    .span8
      - if @feed_items.any?
        %h3.well.well-small Feed
        = render partial: 'shared/feed'
      - if @liked_posts.any?
        %h3.well.well-small Favorited items (#{@liked_posts.count})
        = render partial: 'shared/liked_feed'        
      - if @project_feed_items.any?
        %h3.well.well-small Project Feed
        = render partial: 'shared/project_feed'
      - if @topic_feed_items.any?
        %h3.well.well-small Topic Feed
        = render partial: 'shared/topic_feed'
      %h3.well.well-small 
        =link_to 'Explore topics and projects', posts_path
      #popular_tags.span8 
        - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
          = link_to tag.name, post_path(tag.name), :class => 'label' 
            
- else
  .center.hero-unit
    %h1 Welcome to TopicHog Beta
    %h2
      Organise resources for topics you're interested in and showcase your project work 
    = link_to "Sign up now!", new_user_registration_path, |
      class: "btn btn-large btn-primary"   |
