%h1.center Crop Avatar
%p.span12.offset4
  = image_tag @profile.image_url(:large), id: "cropbox"
  = form_for @profile do |f|
    = f.hidden_field :bio
    - %w[x y w h].each do |attribute|
      = f.hidden_field "crop_#{attribute}"
    .span12.center
      = f.submit "Crop"
  
