= provide(:title, @user.name + ' | edit profile')
.row
  .span6.offset3
    %h3 Edit your avatar
    = form_for @avatar, :html => {:multipart => true} do |f|
      - @avatar.errors.full_messages.each do |msg|
        %p= msg
      = f.hidden_field :user_id
      %p.span6
        .span1
          = f.label :image, "Profile picture"  
        .span3        
          %p
            = avatar_for @user, size: 52
          %p
            = f.file_field :image
            = f.hidden_field :image_cache            
.row
  .span6.offset3  
    %h3 Edit your profile
    = form_for @profile, :html => {:multipart => true} do |f|
      - @profile.errors.full_messages.each do |msg|
        %p= msg
      = f.hidden_field :user_id
      %p.span6
        .span1
          = f.label :bio, "Your bio"
        .span4
          = f.text_area :bio, rows: 5
      %p.span6
        .span1
          = f.label :twitter_url, 'Twitter'
        .span4  
          = f.text_field :twitter_url
      %p.span6
        .span1
          = f.label :linkedin_url, 'Linkedin'
        .span4
          = f.text_field :linkedin_url
      %p.span6
        .span1
          = f.label :facebook_url, 'Facebook'
        .span4
          = f.text_field :facebook_url
      %p.span6
        .span1
          = f.label :mysite_url, 'Your site'
        .span4
          = f.text_field :mysite_url    
      %p.span6
        .span1
          = f.label :myblog_url, 'Your blog'
        .span4
          = f.text_field :myblog_url               
      %p.span6.offset2
        = f.submit



