= provide(:title, @user.name + ' | edit profile')
.row
  .span6.offset3
    %h3 Edit your avatar
    = form_for @avatar do |f|
      - @avatar.errors.full_messages.each do |msg|
        %p= msg
      %p.span6
        .span1
          = f.label :image, "Profile picture"  
        .span3        
          %p  
            = avatar_for @user, size: 52
          %p
            = f.file_field :image 
.row
  .span6.offset3  
    %h3 Edit your profile  
    %p.spacer20  
    %table.table.table-hover
      %tbody
        %tr
          %td.span1 Bio:
          %td.span4= best_in_place @profile, :bio, type: :textarea, :activator => '#edit_bio'
          %td.span1
            %a#edit_bio{:href => "#"} edit   
        %tr
          %td.span1 Twitter:
          %td.span4= best_in_place @profile, :twitter_url, :activator => '#edit_twitter'
          %td.span1
            %a#edit_twitter{:href => "#"} edit  
        %tr
          %td.span1 Linkedin:
          %td.span4= best_in_place @profile, :linkedin_url, :activator => '#edit_ln'
          %td.span1
            %a#edit_ln{:href => "#"} edit  
        %tr
          %td.span1 Facebook:
          %td.span4= best_in_place @profile, :facebook_url   , :activator => '#edit_fb'
          %td.span1
            %a#edit_fb{:href => "#"} edit  
        %tr
          %td.span1 Website:
          %td.span4= best_in_place @profile, :mysite_url, :activator => '#edit_site'
          %td.span1
            %a#edit_site{:href => "#"} edit     
        %tr
          %td.span1 Blog:
          %td.span4= best_in_place @profile, :myblog_url, type: :textarea, :activator => '#edit_blog'
          %td.span1
            %a#edit_blog{:href => "#"} edit 
.row
  %p.spacer20
  %p.offset3
    =link_to "Back to profile", @user, class: "btn btn-medium btn-primary"


