= provide(:title, @user.name + ' | new topic')
%h3 New Topic
.row
  %aside.span4
    %section
      = render 'shared/user_info'
    %section
      = render 'shared/stats'
    %section
      %p= link_to "View all users", users_path      
  .span8
    = render partial: 'shared/topic_form', locals: {topic: @topic}
    
