= provide(:title, @user.name + ' | ' + @topic.title)
- content_for :head do
  = tag :meta, property: "og:type", content: "article"     
  = tag :meta, property: "og:url", content: user_topic_url(@user, @topic)
  = tag :meta, property: "og:site_name", content: "topichog"
  = tag :meta, property: "og:image", content: image_path(@topicdraftimage.image_url(:large).to_s)
  = tag :meta, property: "og:title", content: @topic.title
  = tag :meta, property: "og:description", content: @topic.summary
  = tag :meta, property: "article:published_time", content: "2010-01-24"
  = tag :meta, property: "article:expiration_time", content: "2010-01-26"
  = tag :meta, property: "article:author", content: "http://www.stanforddaily.com/author/ivynguyen/"
  = tag :meta, property: "article:section", content: "Sports"
  = tag :meta, property: "article:tag", content: "USC"
  = tag :meta, property: "article:tag", content: "Jeanette Pohlen"
  = tag :meta, name: "twitter:card", content: "summary"  
  = tag :meta, name: "twitter:url", content: user_topic_url(@user, @topic) 
  = tag :meta, name: "twitter:title", content: @topic.title    
  = tag :meta, name: "twitter:description", content: @topic.summary     
  = tag :meta, name: "twitter:image", content: image_path(@topicdraftimage.image_url(:large).to_s)    
  = tag :meta, name: "twitter:site", content: "@topichog"
.row
  %aside.span4
    %section  
      = render 'shared/user_info' 
    %section
      = render 'shared/stats'   
    = render partial: 'users/follow_form' if user_signed_in? 
    .spacer50
    %section.my-hero-unit
      %h4 Links and references:
      .ref 
        =raw @topic.reference 
    %section.my-hero-unit
      =render 'shared/post_stats'
      =render 'shared/likers_list'   
  .span8  
    .row.my-hero-unit
      .span8
        .row 
          .span1
            -if @topicdraftimage
              = image_tag(@topicdraftimage.image_url(:thumb).to_s, alt: "", class: "img-polaroid row")
            -if !@topicdraftimage
              = avatar_for @user, size: 52           
          .span5
            %h3         
              =@topic.title
            %div  
              =@topic.summary 
            %p
              =render 'shared/tags'              
          -if user_signed_in? 
            .span2
              =render 'posts/like_form'         
          -if @user == current_user
            .span2
              .row                              
                .span2
                  =render 'shared/topic_publicise_form'    
                .spacer5 
                .span2               
                  = link_to "edit topic", edit_user_topicdraft_path(@user, @post.postable.topicdraft) 
    .row
      .span8                 
        .row
          .span8
            =raw @topic.content
