= provide(:title, @user.name)
.row
  %aside.span4
    %section
      = render 'shared/user_info'     
    %section
      = render 'shared/stats'   
    = render 'follow_form' if user_signed_in?      
  .span8
    = render 'profiles/profile_info'  
.row
  .spacer50  
  #user_projects.span4
    %h4.well.well-small
      .span2  
        Projects (#{@projects.count})
      -if @user == current_user 
        = link_to "new project", new_user_projectdraft_path(@user), class: "btn btn-small btn-info" 
        %a#projecttip{ "data-trigger" => "manual", "data-placement" => "bottom", "data-content" => "Projects are a great way to showcase your work. Display a detailed summary of your project and include associated links, referances and documents for more detail. ", "data-original-title" => "Create a new project. <a href='#'><i id='close-project-popover' class='icon-remove popover-close mas'></i></a>", :href => "#", :rel => "popover"}        
          %i.icon-question-sign
    %ol.posts
      = render @projects
    = will_paginate @projects, :param_name => 'project_page' 
  #user_topics.span4  
    %h4.well.well-small
      .span2
        Topics (#{@topics.count})
      -if @user == current_user   
        = link_to "new topic", new_user_topicdraft_path(@user), class: "btn btn-small btn-info"       
        %a#topictip{ "data-trigger" => "manual", "data-placement" => "right", "data-content" => "Write summaries of topics that you are knowledgeable about. Topics are a great way to share your knowledge and also to showcase what you know.", "data-original-title" => "Create a new topic. <a href='#'><i id='close-topic-popover' class='icon-remove popover-close mas'></i></a>", :href => "#", :rel => "popover"}        
          %i.icon-question-sign 
    %ol#user_topic_posts.posts
      = render @topics
    = will_paginate @topics, :param_name => 'topic_page'   
  .span4  
    %h4.well.well-small
      Favorited items (#{@liked_posts.count})
    = render partial: 'shared/liked_feed' 
- if @user == current_user
  .row
    .spacer50  
    .span4
      %h4.well.well-small
        Project drafts (#{@unpublished_projectdrafts.count})    
      %ol.posts
        = render @unpublished_projectdrafts  
      = will_paginate @unpublished_projectdrafts, :param_name => 'unpublished_projectdrafts_page'                
    .span4
      %h4.well.well-small
        Topic drafts (#{@unpublished_topicdrafts.count}) 
      %ol.posts
        = render @unpublished_topicdrafts         
      = will_paginate @unpublished_topicdrafts, :param_name => 'unpublished_topicdrafts_page'                        
