%h3 Profile page
.row
  %aside.span4
    %section
      = render 'shared/user_info'
    %section
      = render 'shared/stats'
    %section
      %p= link_to "View all users", users_path      
  .span8
    = render 'follow_form' if user_signed_in?
    - if @projects.any?
      %h3
        Projects (#{@projects.count})
      %ol.projects
        = render @projects
      = will_paginate @projects
    - if @topics.any?
      %h3
        Topics (#{@topics.count})
      %ol.projects
        = render @topics
      = will_paginate @topics
    - if @pposts.any?
      %h3
        Pposts (#{@pposts.count})
      %ol.projects
        = render @pposts
      = will_paginate @pposts
    - if @tposts.any?
      %h3
        Tposts (#{@tposts.count})
      %ol.projects
        = render @tposts
      = will_paginate @tposts