= provide(:title, @user.name)
.row
  %aside.span4
    %section
      = render 'shared/user_info'
    %section
      = render 'shared/stats'
    %section
      %p= link_to "View all users", users_path      
  .span8
    = render 'follow_form' if user_signed_in?
    - if @projects.any?
      %h3
        Projects (#{@projects.count})
      %ol.posts
        = render @projects
      = will_paginate @projects, :param_name => 'project_page'
    - if @topics.any?
      %h3
        Topics (#{@topics.count})
      %ol.posts
        = render @topics
      = will_paginate @topics, :param_name => 'topic_page'
    - if @pposts.any?
      %h3
        Pposts (#{@pposts.count})
      %ol.posts
        = render @pposts
      = will_paginate @pposts, :param_name => 'ppost_page'
    - if @tposts.any?
      %h3
        Tposts (#{@tposts.count})
      %ol.posts
        = render @tposts
      = will_paginate @tposts, :param_name => 'tpost_page'
    - if @liked_posts.any?
      %h3
        Favorited items (#{@liked_posts.count})
      = render partial: 'shared/liked_feed'  
