= form_for(topic, :url => user_topics_url(@post.user.id)) do |f|
  = render partial: 'shared/error_messages', locals: {object: f.object}
  .field
    %h2.span8 New Topic
    %p.span8
      .span1
        = f.label :title, "Title"
      .span6  
        = f.text_field :title, placeholder: "Topic title..."
    %p.span8
      .span1
        = f.label :summary, "Summary"
      .span6          
        = f.text_area :summary, placeholder: "Topic summary...", rows: 3
    %p.span8
      .span1
        = f.label :reference, "Links & references"
      .span6   
        = f.text_area :reference, :id =>'reference_textarea', placeholder: "Topic references and links..."                     
    %p.span8
      .span1
        = f.label :tag_list, "Tags"
      .span6       
        = f.text_field :tag_list, placeholder: "Comma separated tags..."      
    %p.span8   
      = f.text_area :content, :id =>'content_textarea', placeholder: "Topic content..."
    %p.span8  
      = f.submit "Submit topic", class: "btn btn-large btn-primary"  
