%li.feedpost{:id => topic_feed_item.id}
  -if topic_feed_item.postable_type == "Project"
    -if topic_feed_item.postable.projectdraftimages.count == 0
      = avatar_for topic_feed_item.user, size: 52 
    -else
      = image_tag(topic_feed_item.postable.projectdraftimages.first.image_url(:thumb).to_s, alt: "", class: "img-polaroid")    
  -if topic_feed_item.postable_type == "Topic"
    -if topic_feed_item.postable.topicdraftimages.count == 0
      = avatar_for topic_feed_item.user, size: 52 
    -else
      = image_tag(topic_feed_item.postable.topicdraftimages.first.image_url(:thumb).to_s, alt: "", class: "img-polaroid")    
  %div
    = link_to topic_feed_item.postable.title, user_topic_path(topic_feed_item.user.id, topic_feed_item.postable), id: "topic_link_#{topic_feed_item.id}"
    %span.summary= topic_feed_item.postable.summary
  %div
    %span.user
      = link_to topic_feed_item.user.name, topic_feed_item.user  
    %span.timestamp
      Posted #{time_ago_in_words(topic_feed_item.created_at)} ago.
    - if current_user == topic_feed_item.user
      = link_to "delete", topic_feed_item, method: :delete, |
        data: { confirm: "You sure?" },                       |
        title: topic_feed_item.postable.title                        |
    %span.post_info
    - if topic_feed_item.likes_count > 0
      %strong#liking.stat #{topic_feed_item.likes_count}
      favorites
