= form_for(topic, :url => user_topics_url(@post.user.id)) do |f|
  = render partial: 'shared/error_messages', locals: {object: f.object}
  .field
    = f.text_field :title, placeholder: "Topic title..."
    = f.text_field :summary, placeholder: "Topic summary..."    
    = f.cktext_area :reference, placeholder: "Topic references and links..."
    = f.cktext_area :content, placeholder: "Topic content..."
    = f.text_field :tag_list, placeholder: "Comma separated tags..."
  = f.submit "Submit topic", class: "btn btn-large btn-primary"
