%li{:id => project.id}
  %span.title
    = link_to project.title, user_project_path(project.user.id, project.id), id: "project_link_#{project.id}"
  %span.summary= project.summary
  %span.timestamp
    Posted #{time_ago_in_words(project.created_at)} ago.
  - if current_user == project.user
    = link_to "delete", project, method: :delete,   |
      data: { confirm: "You sure?" },               |
      title: project.title                          |