= provide(:title, @user.name + ' | ' + @project.title)
.row
  %aside.span4
    %section  
      = render 'shared/user_info' 
    %section
      = render 'shared/stats'   
    = render partial: 'users/follow_form' if user_signed_in? 
    %section.my-hero-unit
      %h4 Links and references:
      .ref 
        =raw @project.reference 
    %section.my-hero-unit
      =render 'shared/post_stats'
      =render 'shared/likers_list'   
  .span8  
    .row.my-hero-unit
      .span8
        .row   
          %span.span6
            %h1         
              =@project.title
          %span.span1
            =render 'posts/like_form' if user_signed_in?
          %span
            = link_to "edit project", edit_user_projectdraft_path(@user, @post.postable.projectdraft) if @user == current_user
        .row
          .span1
            %h4 Summary: 
          .span6  
            =@project.summary
        .row  
          %p.span8
            =render 'shared/tags'       
    .row
      .span8                 
        .row
          .span8
            =raw @project.content

