%h3 Topic details page
.row
  %aside.span4
    %section  
      %h1
        = @user.name
    %section
      = render 'shared/user_link'
    %section
      %p= link_to "View all users", users_path      
  .span8 
    %h1        
      Title: #{@tpost.title}
    %p
      summary: #{@tpost.summary}
  %p= link_to "Back to #{@topic_user.name}", user_path(@topic_user)
