= provide(:title, @user.name + ' | ' + @topicdraft.title + ' draft')
.row
  %aside.span4
    %section  
      = render 'shared/user_info' 
    %section
      = render 'shared/stats'   
    = render partial: 'users/follow_form' if user_signed_in? 
    %section.my-hero-unit
      %h4 Links and references:
      .ref 
        =raw @topicdraft.reference 
  .span8  
    .row.my-hero-unit
      .span8
        .row
          .span5
            .row.span5
              %h3         
                =@topicdraft.title
            .row
              .span5 
                =@topicdraft.summary              
          .span2  
            .row
              .spacer5  
              .span2
                = link_to "publish topic", publish_user_topicdraft_path(@user, @topicdraft), class: "btn btn-large btn-primary" if @user == current_user
            .row  
              .spacer5
              .span2
                = link_to "edit draft", edit_user_topicdraft_path(@user, @topicdraft) if @user == current_user
            .row  
              .spacer5
              .span2
                = link_to "discard draft", discard_user_topicdraft_path(@user, @topicdraft) if @user == current_user        
        .row  
          %p.span8
            =render 'shared/tags'       
    .row
      .span8                 
        .row
          .span8
            =raw @topicdraft.content

